/* Font Selection */

.inter{
    font-family: 'Inter', sans-serif;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

/* Common Class */

.common-color{
    color: #4E47FF;
}

.hover-button {
  background-color: #4E47FF;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hover-button:hover {
  background-color: gold;
}

/* Body Starts Here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */

.banner{
    background-image: url(/images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 698px;
    width: 100%;
}

.banner-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-nav h3{
    font-size: 34px;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 150px;
}

.banner-nav button{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    margin-right: 150px;
    margin-top: 50px;
    width: 132px;
    height: 48px;
    border-radius: 15px;
    border-color: transparent;
}

.banner-heading{
    color: #252432;
    font-weight: bolder;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 14%;
}

.banner-heading button{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border-radius: 15px;
    border-color: transparent;
    margin-top: 2%;
}

/* Webflow-mini Section */

.webflow-mini{
    width: 1140px;
    height: 328px;
    background-color: #FFFFFF;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 116px;
    margin-bottom: 116px;
}

.webflow-mini-text{
    color: #252432;
    line-height: 50px;
}

.webflow-mini-text button{
    font-weight: bold;
    width: 229px;
    height: 48px;
    border-radius: 15px;
    border: transparent;
    margin-top: 23px;
}

.webflow-mini-text h2{
    font-weight: bolder;
    font-size: 42px
}

.webflow-mini-text h4{
    font-size: 24px;
    line-height: normal;
    margin-top: 23px;
    font-weight: normal;
}

.webflow-mini img{
    border-radius: 48px;
}

/* User-Data Section */

.user-data{
    background-image: url(/images/user-data.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1140px;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 137px;
}

.user-data-heading{
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bolder;
}

.user-data-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rating{
    margin-top: 40px;
    margin-bottom: 0;
    margin-right: 75px;
    margin-left: 75px;
    text-align: center;
}

.rating h1{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 80px;
}

.rating h3{
    color: #000000;
    font-weight: normal;
}